
  <% @links.each do |link| %>

   <strong><li> <%= link_to link.title, link.url, target: "_blank" %> </li> 
<%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
   <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %> |</strong>

            <%= pluralize(link.votes.where(:up => true).count, "vote") %> |
            <%= link_to "#{pluralize(link.comments.count, "comment")}", link %>
  <% end %>

<%= will_paginate(@links) %>