<h2>Submit a Link</h2>

<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
    <br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>